spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

logging:
  level:
    root: INFO
    com.rulex: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: WARN

rulex:
  security:
    enabled: ${RULEX_SECURITY_ENABLED:true}
